[](https://www.youtube.com/channel/UCb3QBM9iYT6dXaLbsIO8gyQ) [](https://www.linkedin.com/company/cimea-naricitalia/%20)

[](#)

Language

- **English**

  - [Italian](../pagina-attestati-di-comparabilita-e-verifica-dei-titoli)
  - [English](#)

[![Cimea](https://www.cimea.it/themes/work/images/LOGO/Logo.svg)](pagina-homepage)

# Statements of Comparability and Verification

- [HOME](pagina-homepage)
- [Services](pagina-servizi)
- Statements of Comparability and Verification

## 

#### Statements of Comparability and Verification

- [Overview](javascript:void(0);)
- [Universities](pagina-attestati-universita)
- [CIMEA for Refugees](pagina-cimea-for-refugees)

------------------------------------------------------------------------

 

**The new CIMEA Certification service is online**

 

 Kindly be informed that the CIMEA-Diplome foreign qualifications certification service is online.

The new **CIMEA-Diplome** service is integrated with [ARDI – Automatic Recognition Database Italia.](https://ardi.cimea.it/en)

The **Credential Information Service - CIS** is operational through CIMEA, a certification and comparability service for Italian and foreign qualifications, in order to make academic titles in the national and international context increasingly understandable and recognizable.

The **CIMEA Credential Information Service – CIS** uses the **CIMEA-Diplome** service to issue its certificates, making use of ***blockchain* technology applied to the recognition of qualifications.**

***The CIMEA-Diplome service is available on the page: [DIPLOME](https://cimea-diplome.it/)***

------------------------------------------------------------------------

## CIMEA CIMEA services for comparability and verification of qualifications

Please note that the certification and comparison service for Italian and foreign qualifications offered by CIMEA is a support and transparency tool for the institutions and authorities responsible for the various different recognition procedures. For further details, please refer to the following page: [Recognition of qualifications](../../EN/pagina-procedure-riconoscimento-titoli).

 

## Academic recognition

The **CIMEA-Diplome** service is active for requests for certificates useful for recognition procedures with academic purposes.

If you intend to proceed with the request for Certificates of Comparability and Verification for [academic recognition](../../EN/pagina-riconoscimento-accademico), we suggest that you verify directly with the Italian higher education institution you are interested in whether the Certificates of Comparability and Verification are needed.

**Italian higher education institutions** will be able to sign a specific Agreement with CIMEA. For further details, see the [Affiliated Institutions section](../../EN/pagina-attestati-universita).

*The CIMEA-Diplome service is available on the page: [DIPLOME](https://cimea-diplome.it/)*

 

## Non-academic recognition

The **CIMEA-Diplome** service is available for requests for certificates useful for recognition procedures with non-academic purposes.

As far as non-academic recognition procedures are concerned, we suggest you consult the relevant page on our [website](../../EN/pagina-riconoscimento-non-accademico).

If Statements of Comparability and Verification issued by an ENIC-NARIC centre are requested by the institution or authority of your interest, it will be possible to request the CIMEA Statements.

*The CIMEA-Diplome service is available on the page: [DIPLOME](https://cimea-diplome.it/)*

 

## Comparability

Through the Comparability service it is possible to ask CIMEA to evaluate foreign qualifications of the higher education system and final qualifications of secondary school courses that allow access to Higher Education. In the case of a positive evaluation, CIMEA experts will produce a **Statement of Comparability** relating to the qualification evaluated.

By **Comparability** we mean the identification of the level of the foreign qualification with reference to the cycles of the Bologna Process and the levels of the *European Qualifications Framework*. This comparison does not guarantee in any way the formal recognition of the title within a national system, but it is a useful indication for those institutions that evaluate qualifications during different recognition procedures: the Statement of Comparability does not in any way bind the institutions during their assessment and recognition procedures.

The certificates referring to the comparability of qualifications relating to the [55 countries](https://www.enic-naric.net/) of the Lisbon Convention can be downloaded directly and free of charge through [**ARDI – Automatic Recognition Database Italia.**](https://ardi.cimea.it/en) For these qualifications, only the verification of the authenticity of the qualification service will be active.

*The CIMEA-Diplome service is available on the page: [DIPLOME](https://cimea-diplome.it/)*

 

## Verification

Through the **Verification** service it is possible to ask CIMEA to certify that a foreign qualification of the Higher Education or secondary school system has actually been awarded to the holder by an official body in the system of reference. In the case of positive feedback, CIMEA experts will produce a **Statement of Verification** referring to the qualification which has been verified.

By **Verification** of authenticity we mean any operation carried out by CIMEA in order to receive information on the actual award of a degree by the institution in question. This verification does not in any way guarantee the formal recognition of the qualification within a national system, but it is a useful indication for those institutions that evaluate qualifications during different recognition procedures: the Statement of Verification of the qualification does not in any way bind the institutions during their assessment and recognition procedures.

During these operations, CIMEA uses one or more of the following tools: national or individual institution databases, information requested directly from the institution that awarded the title, official certification issued by the competent authorities of the country of reference, receipt by mail of the original qualification from the institution at the CIMEA offices, verification of the presence of legalizations and stamps, verification of the final document format and the respective signatures.

Taking into account that qualification authentication operations cannot be carried out in all foreign systems, this service may be limited only to certain countries and/or qualifications. More information about the countries for which the qualification verification service carried out by CIMEA is active will be available on the **CIMEA-Diplome** platform.

*The CIMEA-Diplome service is available on the page: [DIPLOME](https://cimea-diplome.it/)*

 

main services

## main services

### The Lisbon Recognition Convention

The “Convention on the Recognition of Qualifications concerning Higher Education in the Europe \[...\]

[Read more](pagina-convenzione-lisbona "The Lisbon Recognition Convention")

### Associations and networks

CIMEA, in line with its own institutional goals, participates and collaborates in a national and \[...\]

[Read more](pagina-associazioni-e-reti "Associations and networks")

### The Italian Qualifications Framework

A Qualifications Framework (QF) is a valid tool for the description of all or part of the qualif \[...\]

[Read more](pagina-quadro-dei-titoli "The Italian Qualifications Framework")

### Publications and Databases

CIMEA prepares publications and creates databases and tools aimed at helping recognition for the \[...\]

[Read more](pagina-pubblicazioni-banche-dati "Publications and Databases")

### CIMEA Academy and webinars

CIMEA organises courses and creates personalised training activities in the higher education sec \[...\]

[Read more](pagina-cimea-academy-e-webinars "CIMEA Academy and webinars")

### CIMEA

![](https://www.cimea.it/themes/work/images/LOGO/Marchio.svg)

All rights to the contents of this website are the property of the CIMEA Association. Reproduction and use of the published contents is allowed for non-commercial purposes only once written authorization has been granted by the CIMEA Association and in all cases only when specific reference is made concerning the source.

### Useful Links

- [About us](pagina-chi-siamo)
- [Services](pagina-servizi)
- [Projects](pagina-progetti)
- [Privacy Policy](pagina-privacy-policy)
- [Info Cookies](pagina-cookies-info)
- [Legal notices](pagina-note-legali)
- [Transparence (l. 124/2017)](pagina-obblighi-trasparenza)

- [![Enic Naric](/Immagini/Enic_Naric.svg)](https://www.enic-naric.net/)

- [![MUR](/Immagini/MUR.svg)](https://www.mur.gov.it/it)

- [![APICE](/Immagini/APICE.svg)](https://www.apice-italia.it)

- [![ASEM EDUCATION](/Upload/immagini/ASEM_EDUCATION.svg)](https://asem-education.org/)

- [![TAICEP](/Immagini/TAICEP.svg)](https://www.taicep.org/taiceporgwp/)

- [![GAIN](/Immagini/GAIN.svg)](https://globalacademicintegrity.network/)

  CIMEA is part of Global Academic Integrity Network (GAIN)

- [![ASEM LIFELONG LEARNING](/Upload/immagini/ASEM_LLL.png)](https://www.asemlllhub.net/)

CIMEA is registered in the Anagrafe Nazionale delle Ricerche [![Arianna \| Anagrafe Nazionale delle Ricerche](../Upload/immagini/arianna.svg)](https://www.anagrafenazionalericerche.mur.gov.it/)

© Copyright 1984 - 2026 CIMEA. All rights reserved. Credits by: [Creative Company S.r.l.](https://www.creativecompany.it) & [Yperesia S.n.c.](https://www.yperesia.it)

[](https://www.youtube.com/channel/UCb3QBM9iYT6dXaLbsIO8gyQ) [](https://www.linkedin.com/company/cimea-naricitalia/%20)

[](#)
