You need to enable JavaScript to run this app.

1.  [কন্টেন্টে যান![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#main-content)
2.  [মূল মেন্যুতে যান![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#navigation)
3.  [আরো ডয়চে ভেলে সাইটে যান![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#footer)

[](/bn/বিষয়/s-11929 "ডিডাব্লিউডটকম হোম - মেইড ফর মাইন্ডস")

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCA0NCAyNSI+PHBhdGggZD0iTTMxLjQyODU3MTQsMCBDMjcuNjcyMzMzMywwIDI0LjMwMzE5MDUsMS42Mzk1ODMzMyAyMiw0LjIzNjk3OTE3IEMxOS42OTYyODU3LDEuNjM5NTgzMzMgMTYuMzI3MTQyOSwwIDEyLjU3MTQyODYsMCBDNS42MjgzMzMzMywwIDAsNS41OTYzNTQxNyAwLDEyLjUgQzAsMTkuNDAzNjQ1OCA1LjYyODMzMzMzLDI1IDEyLjU3MTQyODYsMjUgQzE2LjMyNzE0MjksMjUgMTkuNjk2Mjg1NywyMy4zNjA0MTY3IDIyLDIwLjc2MzAyMDggQzI0LjMwMzE5MDUsMjMuMzYwNDE2NyAyNy42NzIzMzMzLDI1IDMxLjQyODU3MTQsMjUgQzM4LjM3MTE0MjksMjUgNDQsMTkuNDAzNjQ1OCA0NCwxMi41IEM0NCw1LjU5NjM1NDE3IDM4LjM3MTE0MjksMCAzMS40Mjg1NzE0LDAgWiBNMjAuMzU2ODA5NSwxOC40MjQ0NzkyIEMxOC41NjQ4NTcxLDIwLjc0OTQ3OTIgMTUuNzQ0NjY2NywyMi4yNSAxMi41NzE0Mjg2LDIyLjI1IEM3LjE1NTc2MTksMjIuMjUgMi43NjU3MTQyOSwxNy44ODQ4OTU4IDIuNzY1NzE0MjksMTIuNSBDMi43NjU3MTQyOSw3LjExNTEwNDE3IDcuMTU1NzYxOSwyLjc1IDEyLjU3MTQyODYsMi43NSBDMTUuNzQ0NjY2NywyLjc1IDE4LjU2NDg1NzEsNC4yNTA1MjA4MyAyMC4zNTY4MDk1LDYuNTc1NTIwODMgQzIxLjYyMjg1NzEsOC4yMTc3MDgzMyAyMi4zNzcxNDI5LDEwLjI3MDgzMzMgMjIuMzc3MTQyOSwxMi41IEMyMi4zNzcxNDI5LDE0LjcyOTE2NjcgMjEuNjIyODU3MSwxNi43ODIyOTE3IDIwLjM1NjgwOTUsMTguNDI0NDc5MiBaIE0zNi42MzU3NjE5LDE3LjI1IEwzMy42ODcyMzgxLDE3LjI1IEwzMS43NjUzODEsMTIuNTc3MDgzMyBMMjkuODg1NDI4NiwxNy4yNSBMMjYuOTQzNzE0MywxNy4yNSBMMjMuODk3MjM4MSw3Ljc1IEwyNy4yNTc0NzYyLDcuNzUgTDI4LjY4NTkwNDgsMTIuNTE5NzkxNyBMMzAuNDY4NDI4Niw3Ljc1IEwzMy4wOTc5NTI0LDcuNzUgTDM0Ljg4MDQ3NjIsMTIuNTE5NzkxNyBMMzYuMzA4MzgxLDcuNzUgTDM5LjY4MzI4NTcsNy43NSBMMzYuNjM1NzYxOSwxNy4yNSBaIE0xMi45Mzg2MTksNy41IEw3LjQ4NTc2MTksNy41IEw3LjQ4NTc2MTksMTcuNSBMMTIuOTM4NjE5LDE3LjUgQzE1Ljc1MiwxNy41IDE4LjYzNjA5NTIsMTUuODkwNjI1IDE4LjYzNjA5NTIsMTIuNSBDMTguNjM2MDk1Miw5LjI1NzgxMjUgMTYuMDA2MDQ3Niw3LjUgMTIuOTM4NjE5LDcuNSBaIE0xMi42NDQyMzgxLDE0LjYwMjYwNDIgTDEyLjY0NDIzODEsMTQuNjAyNjA0MiBMMTAuNTAyMzgxLDE0LjYwMjYwNDIgTDEwLjUwMjM4MSwxMC4zNTI2MDQyIEwxMi42NDM3MTQzLDEwLjM1MjYwNDIgQzE0LjU5MTIzODEsMTAuMzUyNjA0MiAxNS4yODU4MDk1LDExLjQzMzg1NDIgMTUuMjg1ODA5NSwxMi40Nzc2MDQyIEMxNS4yODYzMzMzLDEzLjUwNzI5MTcgMTQuNTk2NDc2MiwxNC42MDI2MDQyIDEyLjY0NDIzODEsMTQuNjAyNjA0MiBaIiBmaWxsPSJjdXJyZW50Q29sb3IiIC8+PC9zdmc+)

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9ImJ1cmdlci1pY29uIj48ZyBjbGFzcz0idG9wLWxpbmUiPjxwYXRoIGQ9Ik0yMCA0SDBWMmgyMHoiIC8+PC9nPjxnPjxwYXRoIGQ9Ik0yMCAxMUgwVjloMjB6IiAvPjwvZz48ZyBjbGFzcz0iYm90dG9tLWxpbmUiPjxwYXRoIGQ9Ik0yMCAxOEgwdi0yaDIweiIgLz48L2c+PC9zdmc+)

- [![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIxLjUgMS41IDIzIDIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJtZWRpYS1pY29uIGloOWJvYjggc25zZmtuaiI+PHBhdGggZD0iTTUuMTgzIDUuMTg0Yy0xLjI5NiAwLTIuNTkxIDEuMjk2LTIuNTkxIDIuNTkybC4wMDUgMTIuOTZoMTguMTQ0YTIuNiAyLjYgMCAwIDAgMi41OTItMi41OTJWNS4xODRINS4xODNabTUuMTg1IDExLjM0VjkuMzk2bDYuNjkyIDMuNTY0LTYuNjkyIDMuNTY0WiIgLz48L3N2Zz4=)সর্বশেষ ভিডিও](/bn/সর্বশেষ-ভিডিও/s-64176118)
- [![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9Im1lZGlhLWljb24gaWg5Ym9iOCBzbTZpMm9mIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00LjY1MTEwOTA3LDEzLjMzMzMzMzMgTDQuODc2MTI1NDIsOC4xNDgxNDgxNSBDNC44NzYxMjU0Miw1LjIzNjk5NjAxIDcuMDQ0OTE1MjIsMi42OTMyNTQyNyA5Ljk5OTE1NTkzLDIuNjkzMjU0MjcgQzEyLjk1NDg1OTQsMi42OTMyNTQyNyAxNS4xNTkyNzUsNS4yMzY3NzM5NiAxNS4xNTkyNzUsOC4xNDgxNDgxNSBMMTUuMzQ4ODkwOSwxMi45NjQxODU2IEwxNy4wMzcwMzcsMTIuOTY0MTg1NiBMMTcuMDM3MDM3LDcuNjczMDY4NTUgQzE3LjAzNzAzNywzLjg0MzM0MDA5IDEzLjg4NzE5NjgsMC43NDA3NDA3NDEgOS45OTkxNTU5MywwLjc0MDc0MDc0MSBDNi4xMTI1MDY3LDAuNzQwNzQwNzQxIDIuOTYyOTYyOTYsMy44NDM2MzIyMyAyLjk2Mjk2Mjk2LDcuNjczMDY4NTUgTDIuOTYyOTYyOTYsMTMuMzMzMzMzMyBMNC42NTExMDkwNywxMy4zMzMzMzMzIFoiIC8+PHBhdGggZD0iTTUuOTI1OTI1OTMgMTcuMDM3MDM3TDMuNjU1ODk2ODQgMTcuMDM3MDM3QzIuMDQ1ODY4MDMgMTcuMDM3MDM3Ljc0MDc0MDc0MSAxNS42MTI1MTI2Ljc0MDc0MDc0MSAxMy44NTcwMzc5TC43NDA3NDA3NDEgMTEuMzI2MzQ4NkMuNzQwNzQwNzQxIDkuNTcwODczOTkgMi4wNDU4NjgwMyA4LjE0ODE0ODE1IDMuNjU1ODk2ODQgOC4xNDgxNDgxNUw1LjkyNTkyNTkzIDguMTQ4MTQ4MTUgNS45MjU5MjU5MyAxNy4wMzcwMzd6TTE0LjA3NDA3NDEgMTcuMDM3MDM3TDE2LjM0MzI4OTUgMTcuMDM3MDM3QzE3Ljk1Mjc0MTMgMTcuMDM3MDM3IDE5LjI1OTI1OTMgMTUuNjEyNTEyNiAxOS4yNTkyNTkzIDEzLjg1NzAzNzlMMTkuMjU5MjU5MyAxMS4zMjYzNDg2QzE5LjI1OTI1OTMgOS41NzA4NzM5OSAxNy45NTI3NDEzIDguMTQ4MTQ4MTUgMTYuMzQzMjg5NSA4LjE0ODE0ODE1TDE0LjA3NDA3NDEgOC4xNDgxNDgxNSAxNC4wNzQwNzQxIDE3LjAzNzAzN3oiIC8+PC9nPjwvc3ZnPg==)সর্বশেষ অডিও](/bn/সর্বশেষ-অডিও/s-64176120)

অঞ্চল

- [জার্মানি](/bn/জার্মানি/s-60199181)
- [বাংলাদেশ](/bn/বাংলাদেশ/s-60199208)
- [ভারত](/bn/ভারত/s-60199217)
- [ইউরোপ](/bn/ইউরোপ/s-60199239)
- [এশিয়া](/bn/এশিয়া/s-60199242)
- [মধ্যপ্রাচ্য](/bn/মধ্যপ্রাচ্য/s-60199265)

টপিক

- [রাজনীতি](/bn/রাজনীতি/s-60199334)
- [মানবাধিকার](/bn/মানবাধিকার/s-60199425)
- [জলবায়ু পরিবর্তন](/bn/জলবায়ু-পরিবর্তন/s-60199427)
- [জার্মানিতে উচ্চশিক্ষা](/bn/জার্মানিতে-উচ্চশিক্ষা/s-13795)
- [উদ্ভাবন](/bn/উদ্ভাবন/s-60199431)

ক্যাটাগরি

- [বিজ্ঞান প্রযুক্তি](/bn/বিজ্ঞান-প্রযুক্তি/s-60199450)
- [সমাজ সংস্কৃতি](/bn/সমাজ-সংস্কৃতি/s-11977)
- [খেলাধুলা](/bn/খেলাধুলা/s-11974)
- [পরিবেশ](/bn/পরিবেশ/s-60199478)

ইন ফোকাস

[আলাপ](/bn/আলাপ/t-64863412)[অভিবাসন](/bn/অভিবাসন/t-62972093)[ইকোফ্রন্টলাইনস](/bn/ইকোফ্রন্টলাইনস/t-63627369)

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgMjUgMjUiIGNsYXNzPSJsY2ludXcwIj48cGF0aCBkPSJtMjIuNSA4Ljc1LTEwIDcuNS0xMC03LjUiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIxLjg3NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiAvPjwvc3ZnPg==)

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgMjUgMjUiIGNsYXNzPSJydjZocjFtIj48cGF0aCBkPSJtMjIuNSA4Ljc1LTEwIDcuNS0xMC03LjUiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIxLjg3NSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiAvPjwvc3ZnPg==)

[![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9Im1lZGlhLWljb24gaWg5Ym9iOCBzbTZpMm9mIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00LjY1MTEwOTA3LDEzLjMzMzMzMzMgTDQuODc2MTI1NDIsOC4xNDgxNDgxNSBDNC44NzYxMjU0Miw1LjIzNjk5NjAxIDcuMDQ0OTE1MjIsMi42OTMyNTQyNyA5Ljk5OTE1NTkzLDIuNjkzMjU0MjcgQzEyLjk1NDg1OTQsMi42OTMyNTQyNyAxNS4xNTkyNzUsNS4yMzY3NzM5NiAxNS4xNTkyNzUsOC4xNDgxNDgxNSBMMTUuMzQ4ODkwOSwxMi45NjQxODU2IEwxNy4wMzcwMzcsMTIuOTY0MTg1NiBMMTcuMDM3MDM3LDcuNjczMDY4NTUgQzE3LjAzNzAzNywzLjg0MzM0MDA5IDEzLjg4NzE5NjgsMC43NDA3NDA3NDEgOS45OTkxNTU5MywwLjc0MDc0MDc0MSBDNi4xMTI1MDY3LDAuNzQwNzQwNzQxIDIuOTYyOTYyOTYsMy44NDM2MzIyMyAyLjk2Mjk2Mjk2LDcuNjczMDY4NTUgTDIuOTYyOTYyOTYsMTMuMzMzMzMzMyBMNC42NTExMDkwNywxMy4zMzMzMzMzIFoiIC8+PHBhdGggZD0iTTUuOTI1OTI1OTMgMTcuMDM3MDM3TDMuNjU1ODk2ODQgMTcuMDM3MDM3QzIuMDQ1ODY4MDMgMTcuMDM3MDM3Ljc0MDc0MDc0MSAxNS42MTI1MTI2Ljc0MDc0MDc0MSAxMy44NTcwMzc5TC43NDA3NDA3NDEgMTEuMzI2MzQ4NkMuNzQwNzQwNzQxIDkuNTcwODczOTkgMi4wNDU4NjgwMyA4LjE0ODE0ODE1IDMuNjU1ODk2ODQgOC4xNDgxNDgxNUw1LjkyNTkyNTkzIDguMTQ4MTQ4MTUgNS45MjU5MjU5MyAxNy4wMzcwMzd6TTE0LjA3NDA3NDEgMTcuMDM3MDM3TDE2LjM0MzI4OTUgMTcuMDM3MDM3QzE3Ljk1Mjc0MTMgMTcuMDM3MDM3IDE5LjI1OTI1OTMgMTUuNjEyNTEyNiAxOS4yNTkyNTkzIDEzLjg1NzAzNzlMMTkuMjU5MjU5MyAxMS4zMjYzNDg2QzE5LjI1OTI1OTMgOS41NzA4NzM5OSAxNy45NTI3NDEzIDguMTQ4MTQ4MTUgMTYuMzQzMjg5NSA4LjE0ODE0ODE1TDE0LjA3NDA3NDEgOC4xNDgxNDgxNSAxNC4wNzQwNzQxIDE3LjAzNzAzN3oiIC8+PC9nPjwvc3ZnPg==)সর্বশেষ অডিও](/bn/সর্বশেষ-অডিও/s-64176120)[![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIxLjUgMS41IDIzIDIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJtZWRpYS1pY29uIGloOWJvYjggc25zZmtuaiI+PHBhdGggZD0iTTUuMTgzIDUuMTg0Yy0xLjI5NiAwLTIuNTkxIDEuMjk2LTIuNTkxIDIuNTkybC4wMDUgMTIuOTZoMTguMTQ0YTIuNiAyLjYgMCAwIDAgMi41OTItMi41OTJWNS4xODRINS4xODNabTUuMTg1IDExLjM0VjkuMzk2bDYuNjkyIDMuNTY0LTYuNjkyIDMuNTY0WiIgLz48L3N2Zz4=)সর্বশেষ ভিডিও](/bn/সর্বশেষ-ভিডিও/s-64176118)

[![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIwIDAgMTcgMTgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9InMxYXgwb2ZuIj48ZyBjbGlwLXBhdGg9InVybCgjOGZoams4eTlvYSkiPjxwYXRoIHN0cm9rZS13aWR0aD0iMCIgZD0iTTE0LjI2IDQuMDkxQTUuNzQxIDUuNzQxIDAgMCAwIDEwLjE3OCAyLjQgNS43NDEgNS43NDEgMCAwIDAgNi4wOTMgNC4wOWE1Ljc0MSA1Ljc0MSAwIDAgMC0xLjY5IDQuMDg0YzAgMS4yNDYuMzk1IDIuNDM0IDEuMTMgMy40MTVMMi4xNSAxNC45ODFsMS4xNjMgMS4xNjMgMy4zNzQtMy4zNzRhNS43NDQgNS43NDQgMCAwIDAgMy40OSAxLjE4IDUuNzQxIDUuNzQxIDAgMCAwIDQuMDg0LTEuNjkxIDUuNzQyIDUuNzQyIDAgMCAwIDEuNjkxLTQuMDg0IDUuNzQxIDUuNzQxIDAgMCAwLTEuNjkxLTQuMDg0em0tMS4xNjIgNy4wMDRhNC4xMDUgNC4xMDUgMCAwIDEtMi45MiAxLjIwNSA0LjEyIDQuMTIgMCAwIDEtMi45MjEtMS4yMDUgNC4wNzIgNC4wNzIgMCAwIDEtMS4yMDUtMi45MiA0LjEyIDQuMTIgMCAwIDEgMS4yMDUtMi45MiA0LjA3MiA0LjA3MiAwIDAgMSAyLjkyLTEuMjA1IDQuMTIgNC4xMiAwIDAgMSAyLjkyIDEuMjA0IDQuMDcyIDQuMDcyIDAgMCAxIDEuMjA1IDIuOTIgNC4xMiA0LjEyIDAgMCAxLTEuMjA0IDIuOTIxeiIgLz48L2c+PGRlZnM+PGNsaXBwYXRoIGlkPSI4Zmhqazh5OW9hIj48cGF0aCBzdHJva2Utd2lkdGg9IjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIuMTUgMi40KSIgZD0iTTAgMGgxMy44MXYxMy43NDVIMHoiIC8+PC9jbGlwcGF0aD48L2RlZnM+PC9zdmc+)](/bn/search/page-1 "Search DW")

বিজ্ঞাপন

[সমাজ](/bn/সমাজ-সংস্কৃতি/s-11977)[বাংলাদেশ](/bn/বাংলাদেশ/s-60199208)

# যে পাসপোর্টে পুলিশ ভেরিফিকেশন নেই

[হারুন উর রশীদ স্বপন](/bn/হারুন-উর-রশীদ-স্বপন/person-35940391) ঢাকা

21.02.2025২১ ফেব্রুয়ারি ২০২৫

পাসপোর্ট নিতে আর পুলিশ ভেরিফিকেশন লাগবে না। ন্যাশনাল আইডি কার্ড বা জন্ম নিবন্ধনের ভিত্তিতেই পাওয়া যাবে পাসপোর্ট। শক্তিশালী পাসপের্টের সূচকে বাংলাদেশের পাসপোর্ট বিশ্বের ৯৩তম। নতুন নিয়মে অবস্থার উন্নতি হবে তো?

[![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgNDAgNDAiPjxkZWZzPjxwYXRoIGlkPSJzbS1mYWNlYm9va19wYWRkZWQtYSIgZD0iTTIxLjUxMDkzNzUsMjkuMzE1MzEyNSBMMjEuNTEwOTM3NSwyMC41MDQ4NzUgTDI0LjQ2ODM3NSwyMC41MDQ4NzUgTDI0LjkxMTA2MjUsMTcuMDcxMTg3NSBMMjEuNTEwOTM3NSwxNy4wNzExODc1IEwyMS41MTA5Mzc1LDE0Ljg3ODkzNzUgQzIxLjUxMDkzNzUsMTMuODg0NjI1IDIxLjc4NjkzNzUsMTMuMjA3MTg3NSAyMy4yMTI2ODc1LDEzLjIwNzE4NzUgTDI1LjAzMDg3NSwxMy4yMDY0Mzc1IEwyNS4wMzA4NzUsMTAuMTM1Mzc1IEMyNC43MTY0Mzc1LDEwLjA5MzU2MjUgMjMuNjM3LDEwIDIyLjM4MTUsMTAgQzE5Ljc1OTg3NSwxMCAxNy45NjUxMjUsMTEuNjAwMTI1IDE3Ljk2NTEyNSwxNC41Mzg4MTI1IEwxNy45NjUxMjUsMTcuMDcxIEwxNSwxNy4wNzEgTDE1LDIwLjUwNDY4NzUgTDE3Ljk2NDkzNzUsMjAuNTA0Njg3NSBMMTcuOTY0OTM3NSwyOS4zMTUxMjUgTDIxLjUxMDkzNzUsMjkuMzE1MTI1IEwyMS41MTA5Mzc1LDI5LjMxNTMxMjUgWiIgLz48L2RlZnM+PHVzZSB4bGluazpocmVmPSIjc20tZmFjZWJvb2tfcGFkZGVkLWEiIC8+PC9zdmc+)](https://www.facebook.com/sharer/sharer.php?u=https://p.dw.com/p/4qrdS%3Fat_medium%3DSocialMedia%26at_campaign%3DFacebook%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার Facebook")[![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSItMTAgLTEwIDQwIDQwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0ic20tdHdpdHRlcl9wYWRkZWQtYSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS4wMDAwMDAsIDEuMDAwMDAwKSI+PHBhdGggZD0iTTYuMDA2MDYwODgsMCBMNi4yNTI0ODU2MywwLjM2OTgyMzkxNyBMMTcuMTEyMzYwMywxNi42Njc4Njc3IEwxOCwxOCBMMTEuOTc4MzM2NSwxOCBMMTEuNzMxOTQ4OCwxNy42Mjk3NSBMMC44ODYyMDE0MywxLjMzMTcwNjI2IEwwLDAgTDYuMDA2MDYwODgsMCBaIE01LjEzMzg0MjY5LDEuNzAxOTU2MjYgTDMuMTM2MjI3ODQsMS43MDE5NTYyNiBMMTIuODQ5OTU3NSwxNi4yOTc2NDk1IEwxNC44NTk5Nzk5LDE2LjI5NzY0OTUgTDUuMTMzODQyNjksMS43MDE5NTYyNiBaIE03LjUxMyw5LjAzOCBMOC44MDMsMTAuOTcgTDIuOTA5LDE4LjAwMDE0MzggTDAsMTguMDAwMTQzOCBMNy41MTMsOS4wMzggWiBNMTgsMCBMMTAuMTg2LDkuMzIxIEw4LjkwOCw3LjM3NSBMMTUuMDkxLDAgTDE4LDAgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiAvPjwvZz48L2c+PC9zdmc+)](https://x.com/intent/tweet?source=webclient&text=%E0%A6%AF%E0%A7%87%20%E0%A6%AA%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A7%87%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9F%E0%A7%87%20%E0%A6%AA%E0%A7%81%E0%A6%B2%E0%A6%BF%E0%A6%B6%20%E0%A6%AD%E0%A7%87%E0%A6%B0%E0%A6%BF%E0%A6%AB%E0%A6%BF%E0%A6%95%E0%A7%87%E0%A6%B6%E0%A6%A8%20%E0%A6%A8%E0%A7%87%E0%A6%87%20+https://p.dw.com/p/4qrdS%3Fat_medium%3DSocialMedia%26at_campaign%3DTwitter%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার X / Twitter")

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgMjUgMjUiIGNsYXNzPSJjbTRyOTA3IGRvd24gYzRoZ2I2bSI+PHBhdGggZD0ibTIyLjUgOC43NS0xMCA3LjUtMTAtNy41IiBzdHJva2U9IiMwMDJENUEiIHN0cm9rZS13aWR0aD0iMS44NzUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48L3N2Zz4=)

[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](fb-messenger://share/?link=https://p.dw.com/p/4qrdS%3Fat_medium%3DMessenger%26at_campaign%3DFacebookMessenger%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার Facebook messenger")[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](mailto:?body=https://p.dw.com/p/4qrdS%3Fat_medium%3DWebmails%26at_campaign%3DEmail%26at_share_source%3DSharingButton%26at_origin%3DWeb&subject=%E0%A6%AF%E0%A7%87%20%E0%A6%AA%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A7%87%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9F%E0%A7%87%20%E0%A6%AA%E0%A7%81%E0%A6%B2%E0%A6%BF%E0%A6%B6%20%E0%A6%AD%E0%A7%87%E0%A6%B0%E0%A6%BF%E0%A6%AB%E0%A6%BF%E0%A6%95%E0%A7%87%E0%A6%B6%E0%A6%A8%20%E0%A6%A8%E0%A7%87%E0%A6%87%20 "এক্সটার্নাল লিংক — শেয়ার EMail")[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](whatsapp://send?text=%E0%A6%AF%E0%A7%87%20%E0%A6%AA%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A7%87%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9F%E0%A7%87%20%E0%A6%AA%E0%A7%81%E0%A6%B2%E0%A6%BF%E0%A6%B6%20%E0%A6%AD%E0%A7%87%E0%A6%B0%E0%A6%BF%E0%A6%AB%E0%A6%BF%E0%A6%95%E0%A7%87%E0%A6%B6%E0%A6%A8%20%E0%A6%A8%E0%A7%87%E0%A6%87%20%20-%20https://p.dw.com/p/4qrdS%3Fat_medium%3DMessenger%26at_campaign%3DWhatsApp%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার Whatsapp")[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](https://telegram.me/share/url?url=https://p.dw.com/p/4qrdS%3Fat_medium%3DMessenger%26at_campaign%3DTelegram%26at_share_source%3DSharingButton%26at_origin%3DWeb&text=%E0%A6%AF%E0%A7%87%20%E0%A6%AA%E0%A6%BE%E0%A6%B8%E0%A6%AA%E0%A7%87%E0%A6%BE%E0%A6%B0%E0%A7%8D%E0%A6%9F%E0%A7%87%20%E0%A6%AA%E0%A7%81%E0%A6%B2%E0%A6%BF%E0%A6%B6%20%E0%A6%AD%E0%A7%87%E0%A6%B0%E0%A6%BF%E0%A6%AB%E0%A6%BF%E0%A6%95%E0%A7%87%E0%A6%B6%E0%A6%A8%20%E0%A6%A8%E0%A7%87%E0%A6%87%20 "এক্সটার্নাল লিংক — শেয়ার Telegram")[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](https://www.reddit.com/submit?url=https://p.dw.com/p/4qrdS%3Fat_medium%3DSocialMedia%26at_campaign%3DReddit%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার Reddit")[![](data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic2tyazB4cCI+PC9zdmc+)](sms:?&body=https://p.dw.com/p/4qrdS%3Fat_medium%3DSMS%26at_campaign%3DSMS%26at_share_source%3DSharingButton%26at_origin%3DWeb "এক্সটার্নাল লিংক — শেয়ার SMS")

https://p.dw.com/p/4qrdS

[![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIwIDAgMjAgMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImdicG5ncmYiPjxwYXRoIGQ9Ik0xMC4xNDEgMTguNTI1Yy0xLjU1MSAwLTIuOTYtLjM1Ni00LjIyNy0xLjA2OS0xLjI1LS43MjgtMi4yNDgtMS43NDItMi45OTItMy4wNC0uNzI5LTEuMzE0LTEuMDkzLTIuODEtMS4wOTMtNC40ODggMC0xLjY3OS4zNTYtMy4xNzUgMS4wNjktNC40ODlDMy42MSA0LjEyNSA0LjYgMy4xMTIgNS44NjYgMi40YzEuMjY3LS43MTIgMi43MDgtMS4wNjggNC4zMjMtMS4wNjggMS41MDQgMCAyLjkxMy4zOCA0LjIyNyAxLjE0IDEuMzMuNzQ0IDIuMzIgMS44MiAyLjk2OSAzLjIzTDE0LjcgNy4yNjdjLS40NzUtLjk4Mi0xLjEtMS43MTgtMS44NzYtMi4yMDktLjc3Ni0uNTA2LTEuNjU1LS43Ni0yLjYzNi0uNzYtLjk2NiAwLTEuODIxLjIzLTIuNTY1LjY4OS0uNzQ0LjQ0My0xLjMzIDEuMDkyLTEuNzU4IDEuOTQ3LS40MjcuODQtLjY0IDEuODM3LS42NCAyLjk5MyAwIDEuMTI0LjIxMyAyLjExMy42NCAyLjk2OC40NDQuODU1IDEuMDM3IDEuNTEyIDEuNzgyIDEuOTcxLjc2LjQ2IDEuNTkuNjkgMi40OTMuNjkgMS40NTcgMCAyLjU3My0uNDA1IDMuMzQ5LTEuMjEyLjc5MS0uODIzIDEuMjAzLTEuOTcxIDEuMjM1LTMuNDQ0bDEuNDQ5LjgzMkgxMC4xNFY5LjA5Nmg3Ljc5Yy4wNjMuMzk2LjA5NS44MTYuMDk1IDEuMjYgMCAxLjY5My0uMzQ4IDMuMTU4LTEuMDQ1IDQuMzkzLS42OTcgMS4yMzUtMS42NDcgMi4xNzctMi44NSAyLjgyNi0xLjE4Ny42MzMtMi41MTcuOTUtMy45OS45NXoiIC8+PC9zdmc+)Prefer DW on Google](https://www.google.com/preferences/source?q=dw.com "এক্সটার্নাল লিংক — Prefer DW on Google")

![বাংলাদেশের পাসপোর্ট]( "বাংলাদেশের পাসপোর্ট")

টিআইবির একটি গবেষণায় বলা হয়, নতুন পাসপোর্টের আবেদনকারীদের তিন চতুর্থাংশই পুলিশ ভেরিফিকেশনের সময় অনিয়ম ও হয়রানির শিকার হয়ে ঘুস বা নিয়মবহির্ভূত টাকা' দিতে বাধ্য হনছবি: DW

বিজ্ঞাপন

সরকার বলছে, এতে পুলিশি হয়রানি থাকবে না, আরো কম সময়ে পাসপোর্ট দেয়া যাবে।

কিন্তু কেউ কেউ প্রশ্ন তুলেছেন, অনেকের কাছে একাধিক ন্যাশনাল আইডি আর্ড আছে। অবৈধভাবে ন্যাশনাল আইডি কার্ড তৈরি করে রোহঙ্গিাদের পাসপোর্ট নেয়ারও নজির আছে। এর ফলে কি তাহলে অপরাধীরা বা বাংলাদেশের নাগরিক নন এমন মানুষদের পাসপোর্ট পাওায়ার আশঙ্কাও বাড়বে না? এর জবাবে বিশ্লেষকরা বলছেন, মূল সমস্যা গোড়ায়। সেটা ঠিক না করে পাসপোর্ট ভেরিফিকেশন চালু রেখে পুলিশি হয়রানি অব্যাহত রাখার সুযোগ করে দেয়ার কোনো মানে হয় না। তাছাড়া পাসপোর্ট পেলেই তো দেশের বাইরে যাওয়ার নিশ্চয়তা মেলে না।

ট্রান্সপারেন্সি ইন্টারন্যাশনাল বাংলাদেশ(টিআইবি) ২০১৭ সালে [পাসপোর্টে পুলিশ ভেরিফিকেশন বাতিলের প্রস্তাব](/bn/পাসপোর্টে-ভেরিফিকেশন-বাদ-হলেও-সঠিক-নাগরিকত্ব-যাচাই-জরুরি/a-71704581) দিয়েছিল। ওই বছরের ২১ আগস্ট ‘পাসপোর্ট সেবায় সুশাসন: চ্যালেঞ্জ ও করণীয়' শীর্ষক গবেষণা প্রতিবেদনে টিআইবির পক্ষ থেকে বলা হয়, নতুন পাসপোর্ট করার ক্ষেত্রে বিদ্যমান পুলিশ ভেরিফিকেশন পদ্ধতির কারণে সেবাগ্রহীতাদের হয়রানি ও দুর্নীতির শিকার হতে হয়।

টিআইবির গবেষণায় আরো বলা হয়, নতুন পাসপোর্টের আবেদনকারীদের তিন চতুর্থাংশই পুলিশ ভেরিফিকেশনের সময় অনিয়ম ও হয়রানির শিকার হয়ে ঘুস বা নিয়মবহির্ভূত টাকা' দিতে বাধ্য হন।

টিআইবির নির্বাহী পরিচালক ড. ইফতেখারুজামান ডয়চে ভেলেকে বলেন," আমরাই প্রথম পাসাপোর্টে পুলিশ ভেরিফিকেশন তুলে দেয়ার কথা বলেছিলাম। ঔপনিবেশিক আমলে এই পুলিশ ভেরিফিকেশন করাই হয় ক্ষমতার অপব্যবহার এবং এর মাধ্যমে অনৈতিকভাবে অর্থ আদায়ের জন্য। পাসপোর্ট নাগরিকদের অধিকার। আর অপরাধী বা অন্য কোনো অভিযোগ থাকলে তার বিরুদ্ধে ব্যবস্থা নেয়ার অন্য আইনি পদ্ধতি আছে। ইমিগ্রেশন আছে।”

"পাসপোর্টের ভিত্তি হবে নাগরিকত্ব। জন্ম নিবন্ধন বা ন্যাশনাল আইডি কার্ড দেখে পাসপোর্ট দেয়াই নিয়ম। উন্নত বিশ্বেও এভাবেই দেয়া হয়,” বলেন তিনি।

## ![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNC42NTExMDkwNywxMy4zMzMzMzMzIEw0Ljg3NjEyNTQyLDguMTQ4MTQ4MTUgQzQuODc2MTI1NDIsNS4yMzY5OTYwMSA3LjA0NDkxNTIyLDIuNjkzMjU0MjcgOS45OTkxNTU5MywyLjY5MzI1NDI3IEMxMi45NTQ4NTk0LDIuNjkzMjU0MjcgMTUuMTU5Mjc1LDUuMjM2NzczOTYgMTUuMTU5Mjc1LDguMTQ4MTQ4MTUgTDE1LjM0ODg5MDksMTIuOTY0MTg1NiBMMTcuMDM3MDM3LDEyLjk2NDE4NTYgTDE3LjAzNzAzNyw3LjY3MzA2ODU1IEMxNy4wMzcwMzcsMy44NDMzNDAwOSAxMy44ODcxOTY4LDAuNzQwNzQwNzQxIDkuOTk5MTU1OTMsMC43NDA3NDA3NDEgQzYuMTEyNTA2NywwLjc0MDc0MDc0MSAyLjk2Mjk2Mjk2LDMuODQzNjMyMjMgMi45NjI5NjI5Niw3LjY3MzA2ODU1IEwyLjk2Mjk2Mjk2LDEzLjMzMzMzMzMgTDQuNjUxMTA5MDcsMTMuMzMzMzMzMyBaIiAvPjxwYXRoIGQ9Ik01LjkyNTkyNTkzIDE3LjAzNzAzN0wzLjY1NTg5Njg0IDE3LjAzNzAzN0MyLjA0NTg2ODAzIDE3LjAzNzAzNy43NDA3NDA3NDEgMTUuNjEyNTEyNi43NDA3NDA3NDEgMTMuODU3MDM3OUwuNzQwNzQwNzQxIDExLjMyNjM0ODZDLjc0MDc0MDc0MSA5LjU3MDg3Mzk5IDIuMDQ1ODY4MDMgOC4xNDgxNDgxNSAzLjY1NTg5Njg0IDguMTQ4MTQ4MTVMNS45MjU5MjU5MyA4LjE0ODE0ODE1IDUuOTI1OTI1OTMgMTcuMDM3MDM3ek0xNC4wNzQwNzQxIDE3LjAzNzAzN0wxNi4zNDMyODk1IDE3LjAzNzAzN0MxNy45NTI3NDEzIDE3LjAzNzAzNyAxOS4yNTkyNTkzIDE1LjYxMjUxMjYgMTkuMjU5MjU5MyAxMy44NTcwMzc5TDE5LjI1OTI1OTMgMTEuMzI2MzQ4NkMxOS4yNTkyNTkzIDkuNTcwODczOTkgMTcuOTUyNzQxMyA4LjE0ODE0ODE1IDE2LjM0MzI4OTUgOC4xNDgxNDgxNUwxNC4wNzQwNzQxIDguMTQ4MTQ4MTUgMTQuMDc0MDc0MSAxNy4wMzcwMzd6IiAvPjwvZz48L3N2Zz4=)পাসপোর্ট নাগরিকদের অধিকার: ইফতেখারুজ্জামান

To play this audio please enable JavaScript, and consider upgrading to a web browser that [supports HTML5 audio](https://videojs.com/html5-video-support/)

তবে পুলিশের সাবেক উপ-মহাপরিদর্শক(ডিআইজি) মাজেদুল ইসলাম বলেন ভিন্ন কথা। তিনি পুলিশের বিশেষ শাখায়(এসবি) কাজ করেছেন। পাসাপোর্টের পুলিশ ভেরিফিকেশন এসবিই করে থাকে। তিনি বলেন, " আসলে ভোটার আইডি কার্ড পুলিশ ভেরিফিকেশনের মাধ্যমে হয় না। আর জন্মনিবন্ধনও তাই। আমি মনে করি, নাগরিকদের কোনো এক ব্যবস্থায় পুলিশ ভেরিফিকেশন হওয়া দরকার। এই অবস্থায় যদি ভেরিফিকেশন ছাড়া পাসপোর্ট দেয়া হয়, তাহলে অপরাধীরা এর অপব্যবহার করতে পারে। আবার রোহিঙ্গাদের পাসপোর্ট নেয়ার নজির আছে। সেটা তাদের জন্য আরো সুযোগ করে দেবে। আদম ব্যবসায়ীরাও এর সুযোগ নিতে পারে।”

"আমার বিবেবচনায় [পুলিশি হয়রানি বন্ধ](/bn/পুলিশ-সংস্কার/t-71398786) এবং ভেরিফিকেশনের ক্ষেত্রে রাজনৈতিক বিবেচনা থেকে বের হতে পারলে সমস্যার সমাধান হতো। এখন যেটা করা হচ্ছে, তাতে সমস্যা আরো বাড়তে পারে। বিদেশে দেশের ভাবমূর্তি ক্ষুন্ন হতে পারে,”বলেন তিনি।

গত বছরের ফেব্রয়ারি মাসে ঢাকা, কক্সবাজার ও টাঙ্গাইলে অভিযান চালিয়ে গোয়েন্দা বিভাগ ১৪৩ জন রোহিঙ্গাকে বাংলাদেশি পাসপোর্টসহ আটক করে। তারা ভুয়া কাগজপত্রে জাতীয় পরিচয় পত্র ও জন্ম সনদ তৈরি করে ওই পাসপোর্ট নিয়েছিল। তাদের পুলিশ ভেরিফিকেশনেও আটকানো যায়নি। এই কাজ করার জন্য পাসপোর্ট অফিসসহ বিভিন্ন পর্যায়ে একটি চক্র কাজ করে।

প্রতি বছরই এরকম ঘটনা ধরা পড়ে। মাজেদুল ইসলাম বলেন, " আমার অভিজ্ঞতা বলছে, এভাবে গত কয়েক বছরে কয়েক হাজার রোহিঙ্গারা পাসপোর্ট নিয়েছে। অপরাধীরাও নেয়। আমার কথা হলো সেই সুযোগ আরো অবারিত হবে পুলিশ ভেরিফিকেশন না থাকলে। বিশ্বের বিভিন্ন এয়ারপোর্টে আমাদের দেশের নাগরিকরা আরো ঝামেলায় পড়বে। ভিসা পেতেও সমস্যা হতে পারে।,” বলেন তিনি।

তিনি জানান, বাংলাদেশের নাগরিকদের সত্যিকার অর্থে কোনো কেন্দ্রীয় ডাটাবেজ নাই। পুলিশের একটি ডাটাবেজ আছে, সেটা যেসব ব্যক্তি গ্রেপ্তার হন তাদের তথ্য দিয়ে করা হয়। তাও আবার নিয়মিত আপডেট করা হয়না। ন্যাশনাল আইডি হয় ভোটার লিষ্ট ধরে। এখানে যে তথ্য থাকে তা সাধারণ তথ্য। তার অপরাধ, মামলার তথ্য থাকে না। আপডেট হয় না। অনেক ভুল তথ্য থাকে। তার কথা, " যদি জন্মের পর থেকেই নাগরিকের একটি ডাটাবেজ তৈরি হতো এবং তার নিয়মিত আপডেট হতো তাহলে পুলিশ ভেরিফিকেশন লাগত না।”

প্রতিবছর বাংলাদেশ থেকে ১২-১৩ লাখ মানুষ কর্মসংস্থানের জন্য দেশের বাইরে যায়। এখানে প্রতারণা হয়। আশঙ্কা আছে পার্সপোর্ট ভেরিফিকেশন ছাড়া হলে বিদেশ যাওয়ার এই প্রবণতা আরো বাড়বে। আরেক শ্রেণির জনশক্তি রপ্তানিকারক এর সুযোগ নিতে পারেন। কিন্তু বাংলাদেশ অ্যাসোসিয়েশন অব ইন্টারন্যাশনাল রিক্রুটিং এজেন্সিজ (বায়রা)-র মহাসচিব আলী হায়দার চৌধুরী বলেন, " সেই সুযোগ কেউ নিতে পারেন। তবে পাসপোর্ট ভেরিফিকেশন তুলে দেয়া আমাদের জন্য কোনো সমস্যা নয়। বরং এটা তুলে দিয়ে মানুষের হয়রানি কমবে।”

"পাসপোর্ট পাওয়া যে-কোনো নাগরিকের সিটিজেন রাইট। আর পাসপোর্ট পেলেই যে একজন বিদেশে যেতে পারবেন, তা নয়। নানা কারণে তার বিদেশে যাওয়া আটকে যেতে পারে। তার পাসপোর্ট প্রত্যাহার করা যায়, বিদেশ ভ্রমণে নিষেধাজ্ঞা আরোপ করা যায়। ইমিগ্রেশন কাজ করে। সুতরাং কেউ বিদেশ ভ্রমণের উপযুক্ত না হলে তাকে আটকানোর অনেক পথ আছে,” বলেন তিনি।

তার কথা, "এনআইডি, জন্মনিবন্ধন, পাসপোর্ট সবখানেই তো নানা ধরনের অপকর্ম আর প্রতারণা আছে। পুলিশ ভেরিফিকেশন থাকার পরও তো রোহিঙ্গারা, অপরাধীরা পার্সপোর্ট নিয়ে বিদেশে যাচ্ছে। তাহলে এই ফেরিফিকেশন দিয়ে কী হবে? হয়রানি ছাড়া আর কিছুই হয় না। সাধারণ মানুষকে পুলিশ ভেরিফিকেশনে আটকে দেয়া হয়। কিন্তু অপরাধী, রোহিঙ্গারা ক্লিয়ারেন্স পেয়ে যায়।”

সরকারের পাসপোর্ট বিভাগের ওয়েবসাইট বলছে, পাসপোর্টের পুলিশ ভেরিফিকেশনে যে বিষয়গুলো যাচাই করা হয়, তা হলো- ১. আবেদনকারীর জাতীয়তা (অর্থাৎ বাংলাদেশের নাগরিক কিনা)২.স্থায়ী ও অস্থায়ী ঠিকানা ৩. কর্মসংস্থান ৪.পারিবারিক অবস্থা ৫. তার বিরুদ্ধে কোনো ফৌজদারি মামলা আছে কিনা ইত্যাদি তথ্য এবং ৬.পূর্বে কোনো মামলা থেকে থাকলে সেই মামলা খারিজ হয়ে থাকলে সেই তথ্য।

এই তথ্যগুলো পুলিশের বিশেষ শাখা যাচাই করে সরেজমিন গিয়ে। তারা ওই তথ্য সংক্রান্ত কাগজপত্র দোখে। সবগুলো ঠিক থাকলে পাসাপোর্ট অফিস বায়োমেট্রিক ও ছবি তুলে পাসপোর্ট দেয়ার প্রক্রিয়া শেষ করে। এই কাজ করতে সর্বোচ্চ ১৫ দিন সময় বেধে দেয়া আছে। সাদা চোখে দেখলে এখনো কোনো সমস্যা নেই। কিন্তু বাস্তবে অর্থ আদায়ের জন্য পুলিশ এখানে ঘাটে ঘাটে হয়রানি করে। পুলিশ আসলে টাকা ছাড়া পজিটিভ রিপোর্ট দেয় না। সব কিছু ঠিক থাকলেও অর্থ দিতে হয় বলে জানান মিরপুরের একজন ভুক্তভোগী জেসমিন লিপি। তার কথা, " পুলিশ বাসায় এসেছে, টাকা দিতেই হবে। কম আর বেশি। আর টাকা দিলে সব রিপোর্টই পজিটিভ হয়ে যায়।”

ড. ইফতেখারুজ্জামান বলেন, " পুলিশ ভেরিফিকেশনের নামে হয়রানিা তো একটি বিষয়। কিন্তু আবেদন থেকে শুরু করে পাসপোর্ট হাতে পাওয়া পর্যন্ত প্রতিটি ধাপে হয়রানির ফাঁদ পাতা। টাকা না দিলে হয় না। তাই পুরো সমস্যার সমাধান করতে হলে এর সংস্কার এবং পাসপোর্টকে পুরোপুরি ডিজিটালাইজেশন করতে হবে।”

ব্র্যাকের  অভিবাসন বিভাগের প্রধান শরিফুল হাসান বলেন," আসলে এনআইডির ভিত্তিতেই পাসপোর্ট দেয়া উচিত। এটাই নিয়ম। পুলিশ ভেরিফিকেশন রিপোর্ট হয়রানি ছাড়া আর কিছুই নয়। এনআইডি ও জন্ম নিবন্ধন সঠিকভাবে দিলেই আর সমস্যা থাকবে না। কিন্তু এখানে তো জাস্টিন ট্রুডোর জন্ম নিবন্ধনও করা গেছে।”

[বাংলাদেশে সর্বশেষ ই-পাসপোর্ট চালু হয়েছে](/bn/পাসপোর্ট-পাওয়ার-অর্থ-আইনের-ঊর্ধ্বে-উঠে-যাওয়া-নয়/a-71702803)। এর পাশাপাশি মেশিন রিডেবল পাসপোর্টও আছে। ইমিগ্রেশন ও পাসপোর্ট অধিদপ্তরের হিসাব বলছে, চলতি বছরের ৩১ জানুয়ারি পর্যন্ত তিন কোটি ৪১ লাখ ১০ হাজার ৩৭১টি মেশিন রিডেবল(এমআরপি) পাসপোর্ট ইস্যু করা হয়েছে। আর ই পাসপোর্ট ইস্যু করা হয়েছে দুই কোটির বেশি। হাতে লেখা পাসপোর্ট আর এখন দেয়া হয় না। প্রতিদিন ২৫ হাজার পাসপোর্ট প্রিন্ট করতে সক্ষম পাসপোর্ট অধিদপ্তর। দেশের  প্রতিটি জেলায় পাসপোর্ট অফিস আছে। এছাড়া বিশ্বের ৭৩টি বাংলাদেশি মিশনে এমআরপি প্রকল্প বাস্তবায়িত হচ্ছে।

## ![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNNC42NTExMDkwNywxMy4zMzMzMzMzIEw0Ljg3NjEyNTQyLDguMTQ4MTQ4MTUgQzQuODc2MTI1NDIsNS4yMzY5OTYwMSA3LjA0NDkxNTIyLDIuNjkzMjU0MjcgOS45OTkxNTU5MywyLjY5MzI1NDI3IEMxMi45NTQ4NTk0LDIuNjkzMjU0MjcgMTUuMTU5Mjc1LDUuMjM2NzczOTYgMTUuMTU5Mjc1LDguMTQ4MTQ4MTUgTDE1LjM0ODg5MDksMTIuOTY0MTg1NiBMMTcuMDM3MDM3LDEyLjk2NDE4NTYgTDE3LjAzNzAzNyw3LjY3MzA2ODU1IEMxNy4wMzcwMzcsMy44NDMzNDAwOSAxMy44ODcxOTY4LDAuNzQwNzQwNzQxIDkuOTk5MTU1OTMsMC43NDA3NDA3NDEgQzYuMTEyNTA2NywwLjc0MDc0MDc0MSAyLjk2Mjk2Mjk2LDMuODQzNjMyMjMgMi45NjI5NjI5Niw3LjY3MzA2ODU1IEwyLjk2Mjk2Mjk2LDEzLjMzMzMzMzMgTDQuNjUxMTA5MDcsMTMuMzMzMzMzMyBaIiAvPjxwYXRoIGQ9Ik01LjkyNTkyNTkzIDE3LjAzNzAzN0wzLjY1NTg5Njg0IDE3LjAzNzAzN0MyLjA0NTg2ODAzIDE3LjAzNzAzNy43NDA3NDA3NDEgMTUuNjEyNTEyNi43NDA3NDA3NDEgMTMuODU3MDM3OUwuNzQwNzQwNzQxIDExLjMyNjM0ODZDLjc0MDc0MDc0MSA5LjU3MDg3Mzk5IDIuMDQ1ODY4MDMgOC4xNDgxNDgxNSAzLjY1NTg5Njg0IDguMTQ4MTQ4MTVMNS45MjU5MjU5MyA4LjE0ODE0ODE1IDUuOTI1OTI1OTMgMTcuMDM3MDM3ek0xNC4wNzQwNzQxIDE3LjAzNzAzN0wxNi4zNDMyODk1IDE3LjAzNzAzN0MxNy45NTI3NDEzIDE3LjAzNzAzNyAxOS4yNTkyNTkzIDE1LjYxMjUxMjYgMTkuMjU5MjU5MyAxMy44NTcwMzc5TDE5LjI1OTI1OTMgMTEuMzI2MzQ4NkMxOS4yNTkyNTkzIDkuNTcwODczOTkgMTcuOTUyNzQxMyA4LjE0ODE0ODE1IDE2LjM0MzI4OTUgOC4xNDgxNDgxNUwxNC4wNzQwNzQxIDguMTQ4MTQ4MTUgMTQuMDc0MDc0MSAxNy4wMzcwMzd6IiAvPjwvZz48L3N2Zz4=)রোহিঙ্গাদের আঙ্গুলের ছাপ সংরক্ষণ করা আছে কিনা জানি না: রেজওয়ান

To play this audio please enable JavaScript, and consider upgrading to a web browser that [supports HTML5 audio](https://videojs.com/html5-video-support/)

বিশ্বের শক্তিশালী পাসপের্টের সূচকে বাংলাদেশের পাসপোর্টের অবস্থান এখন ৯৩তম। বাংলাদেশের সঙ্গে একই অবস্থানে আছে লিবিয়া ও ফিলিস্তিন। ব্রিটিশ প্রতিষ্ঠান হেনলি অ্যান্ড পার্টনার্স এই সূচক তৈরি করে। তবে এই সূচক তৈরি করা হয় একটি দেশের আর্থ-সামাজিক এবং রাজনৈতিক অবস্থা বিবেচনায়। এভিয়েশন বিশেষজ্ঞ কাজী ওয়াহিদুল আলম বলেন, " আমাদের দেশের নাগরিকরা পাসপোর্টের অপব্যবহার বেশি করেন। ফলে সূচকে আমরা পিছিয়ে। সুশাসন, মানব পাচার, মানবাধিকার, মানব উন্নয়ন সূচক, জাল পাসাপোর্ট এই বিষয়গুলো তারা বিবেচনায় নেয়।” "এর সঙ্গে পুলিশ ভেরিফিকেশেনের সরাসরি কোনো সম্পর্ক নেই,” বলেন তিনি।

তবে যদি এনআইডি সিস্টেম যথার্থ না করা হয়, তাহলে পুলিশ ভেরিফিকেশন তুলে দিলে আশঙ্কা থেকেই যাবে বলে মনে করেন পাসপোর্ট অধিদপ্তরের সাবেক মহাপরিচালক মেজর জেনারেল (অব.) মো. মাসুদ রেজওয়ান। বিশেষ করে রোহিঙ্গাদের পাসপোর্ট পাওয়ার আশঙ্কা আছে। তিনি বলেন, " ১২ লাখ রোহিঙ্গা আছে। ২০১৭ সালের পর আমি যখন মহাপরিচালক ছিলাম, তখন রোহিঙ্গাদের রোহিঙ্গা হিসাবে পরিচয়পত্র দিতে তাদের আঙ্গুলের ছাপ নিয়েছিলাম। সেগুলো এখন সংরক্ষণ করা আছে কিনা জানি না। সেগুলো যদি পাসপোর্টের সার্ভারে যুক্ত করা থাকে, তাহলে রোহিঙ্গারা পাসাপোর্ট করাতে আসলেই ধরা পড়ে যাবে। কিন্তু সেটা করা হয়ে না থাকলে এই সুযোগে রোহিঙ্গাদের পাসপোর্ট পাওয়ার সুযোগ তৈরি করবে। সেই সুযোগ তারা নেয়ার চেষ্টা করবে।”

তিনি বলেন, " রোহিঙ্গারা তো সবই জাল করতে পারে। এনআইডি তারা জাল করে। দেশের বিভিন্ন এলাকা থেকে করে। এর সঙ্গে এনআইডি তৈরির একটি গ্রুপসহ বিশাল চক্র জড়িত। তারপরও তাদের বড় একটি অংশ পুলিশ ভেরিফিকেশনে ধরা পড়তো। ফলে এখন এনআইডির ক্ষেত্রে জালিয়াতি থাকলে তাদের আর ধরা যাবে না।”

 

 

[](/bn/হারুন-উর-রশীদ-স্বপন/person-35940391 "হারুন উর রশীদ  স্বপন")

![ডয়চে ভেলের ঢাকা প্রতিনিধি হারুন উর রশীদ স্বপন৷]()![ডয়চে ভেলের ঢাকা প্রতিনিধি হারুন উর রশীদ স্বপন৷]( "ডয়চে ভেলের ঢাকা প্রতিনিধি হারুন উর রশীদ স্বপন৷")

[হারুন উর রশীদ স্বপন](/bn/হারুন-উর-রশীদ-স্বপন/person-35940391) ডয়চে ভেলের ঢাকা প্রতিনিধি৷

আপনার মতামত জানান![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImZ2MTN6N2oiPjxnIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTQuMjUgNS4yNXYxMi41aDE0LjVWNS4yNXptMS41IDEuNWgxMS41djkuNUg1Ljc1eiIgLz48cGF0aCBkPSJNMS4yNSAyLjI1VjEzLjVoMS41VjMuNzVIMTUuNXYtMS41eiIgLz48L2c+PC9zdmc+)

## ফিডব্যাক

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAzMCAzMCIgY2xhc3M9ImN5em8ycHAiPjxwYXRoIGQ9Ik02LjIxOTYzNCAyNGwxNy45Ny0xOG0wIDE4bC0xNy45Ny0xOCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxLjUiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48L3N2Zz4=)

বিজ্ঞাপন

[স্কিপ নেক্সট সেকশন এই বিষয়ে আরো তথ্য![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#post-more-on-topic)

## এই বিষয়ে আরো তথ্য

[](/bn/পুলিশ-ছাড়পত্র-ছাড়া-পাসপোর্ট-জীবাণু-থেকে-যাবে-না-তো/a-71700973 "পুলিশ ছাড়পত্র ছাড়া পাসপোর্ট; ‘জীবাণু' থেকে যাবে না তো?")

![ঢাকা পাসপোর্ট অফিস]()![ঢাকা পাসপোর্ট অফিস]( "ঢাকা পাসপোর্ট অফিস")

### [পুলিশ ছাড়পত্র ছাড়া পাসপোর্ট; ‘জীবাণু' থেকে যাবে না তো?](/bn/পুলিশ-ছাড়পত্র-ছাড়া-পাসপোর্ট-জীবাণু-থেকে-যাবে-না-তো/a-71700973)

### [পুলিশ ছাড়পত্র ছাড়া পাসপোর্ট; ‘জীবাণু' থেকে যাবে না তো?](/bn/পুলিশ-ছাড়পত্র-ছাড়া-পাসপোর্ট-জীবাণু-থেকে-যাবে-না-তো/a-71700973)

[বাংলাদেশে পুলিশের বিশেষ শাখার নিরাপত্তা ছাড়পত্র ছাড়াই পাসপোর্ট পাওয়া যাবে, জারি হয়েছে এই সরকারি পরিপত্র।](/bn/পুলিশ-ছাড়পত্র-ছাড়া-পাসপোর্ট-জীবাণু-থেকে-যাবে-না-তো/a-71700973)

[](/bn/পান্থ-রহমান/person-66691060 "পান্থ রহমান")

![বেসরকারি টেলিভিশন চ্যানেল চ্যানেল আইয়ের বিশেষ প্রতিনিধি পান্থ রহমান৷ ]()![বেসরকারি টেলিভিশন চ্যানেল চ্যানেল আইয়ের বিশেষ প্রতিনিধি পান্থ রহমান৷ ]( "বেসরকারি টেলিভিশন চ্যানেল চ্যানেল আইয়ের বিশেষ প্রতিনিধি পান্থ রহমান৷ ")

[পান্থ রহমান](/bn/পান্থ-রহমান/person-66691060)

অতিথি সংবাদভাষ্য

সমাজ21.02.2025২১ ফেব্রুয়ারি ২০২৫

[](/bn/ভারতে-পুলিশ-ভেরিফিকেশন-ছাড়া-পাসপোর্ট-পাওয়া-যায়-না/a-71700478 "ভারতে পুলিশ ভেরিফিকেশন ছাড়া পাসপোর্ট পাওয়া যায় না")

![ভারতের পাসপোর্ট]()![ভারতের পাসপোর্ট]( "ভারতের পাসপোর্ট")

### [ভারতে পুলিশ ভেরিফিকেশন ছাড়া পাসপোর্ট পাওয়া যায় না](/bn/ভারতে-পুলিশ-ভেরিফিকেশন-ছাড়া-পাসপোর্ট-পাওয়া-যায়-না/a-71700478)

### [ভারতে পুলিশ ভেরিফিকেশন ছাড়া পাসপোর্ট পাওয়া যায় না](/bn/ভারতে-পুলিশ-ভেরিফিকেশন-ছাড়া-পাসপোর্ট-পাওয়া-যায়-না/a-71700478)

[ভারতে পাসপোর্ট পেতে গেলে পুলিশ ভেরিফিকেশন বাধ্যতামূলক। পুলিশ তথ্য যাচাই না করে দিলে পাসপোর্ট পাওয়া য়ায় না।](/bn/ভারতে-পুলিশ-ভেরিফিকেশন-ছাড়া-পাসপোর্ট-পাওয়া-যায়-না/a-71700478)

[](/bn/গৌতম-হোড়/person-51512710 "গৌতম হোড়")

![ডয়চে ভেলের দিল্লি প্রতিনিধি গৌতম হোড়৷ ]()![ডয়চে ভেলের দিল্লি প্রতিনিধি গৌতম হোড়৷ ]( "ডয়চে ভেলের দিল্লি প্রতিনিধি গৌতম হোড়৷ ")

[গৌতম হোড়](/bn/গৌতম-হোড়/person-51512710)

সংবাদভাষ্য

সমাজ21.02.2025২১ ফেব্রুয়ারি ২০২৫

[স্কিপ নেক্সট সেকশন এশিয়া থেকে সমাজ বিষয়ে আরো কনটেন্ট![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#post-related-content-by-thematic-focus-region)

## এশিয়া থেকে সমাজ বিষয়ে আরো কনটেন্ট

[](/bn/মর্গে-মরদেহের-সঙ্গে-বিকৃত-যৌনাচার-নিয়ে-প্রতিবেদন-করায়-সাংবাদিককে-হুমকি-ক্র্যাবের-উদ্বেগ/a-79793376 "মর্গে বিকৃত যৌনাচার নিয়ে প্রতিবেদন করায় সাংবাদিককে হুমকি")

![মরদেহের প্রতীকী ছবি]()![মরদেহের প্রতীকী ছবি]( "মরদেহের প্রতীকী ছবি")

### [মর্গে বিকৃত যৌনাচার নিয়ে প্রতিবেদন করায় সাংবাদিককে হুমকি](/bn/মর্গে-মরদেহের-সঙ্গে-বিকৃত-যৌনাচার-নিয়ে-প্রতিবেদন-করায়-সাংবাদিককে-হুমকি-ক্র্যাবের-উদ্বেগ/a-79793376)

[বাংলাদেশে মর্গে মরদেহের সঙ্গে বিকৃত যৌনাচার নিয়ে অনুসন্ধানী প্রতিবেদন করায় প্রতিবেদক এখন হুমকির মুখে৷](/bn/মর্গে-মরদেহের-সঙ্গে-বিকৃত-যৌনাচার-নিয়ে-প্রতিবেদন-করায়-সাংবাদিককে-হুমকি-ক্র্যাবের-উদ্বেগ/a-79793376)

সমাজ29.10.2026২৯ অক্টোবর ২০২৬

[](/bn/ধর্ম-অবমাননার-অভিযোগে-গণপিটুনিতে-যুবক-হত্যা-মামলা-বা-গ্রেপ্তার-হয়নি-কেউ/a-79672508 "ধর্ম অবমাননার অভিযোগে হত্যা: মামলা বা গ্রেপ্তার হয়নি কেউ")

![Symbolbild \| Sterbehilfe]()![Symbolbild \| Sterbehilfe]( "Symbolbild | Sterbehilfe")

### [ধর্ম অবমাননার অভিযোগে হত্যা: মামলা বা গ্রেপ্তার হয়নি কেউ](/bn/ধর্ম-অবমাননার-অভিযোগে-গণপিটুনিতে-যুবক-হত্যা-মামলা-বা-গ্রেপ্তার-হয়নি-কেউ/a-79672508)

[কয়েক দফা গণপিটুনিতে নিহত সাতক্ষীরার দেবহাটার ওয়াহিদুজ্জামান শামীমের মৃত্যুর পর এখনও কোনো মামলা করা হয়নি৷](/bn/ধর্ম-অবমাননার-অভিযোগে-গণপিটুনিতে-যুবক-হত্যা-মামলা-বা-গ্রেপ্তার-হয়নি-কেউ/a-79672508)

সমাজ15.10.2026১৫ অক্টোবর ২০২৬

[](/bn/বাংলাদেশে-দুর্গাপূজার-আগে-প্রতিমা-ভাঙচুর-ও-মন্দিরে-হামলার-৩৪-ঘটনা/a-79668553 "দুর্গাপূজার আগে প্রতিমা ভাঙচুর ও মন্দিরে হামলার ৩৪ ঘটনা")

![গত বছর দুর্গা পূজা শুরুর আগে গাজিপুরের একটি মন্দিরের ভাঙা প্রতিমা (প্রতীকী ফাইল ফটো)]()![গত বছর দুর্গা পূজা শুরুর আগে গাজিপুরের একটি মন্দিরের ভাঙা প্রতিমা (প্রতীকী ফাইল ফটো)]( "গত বছর দুর্গা পূজা শুরুর আগে গাজিপুরের একটি মন্দিরের ভাঙা প্রতিমা (প্রতীকী ফাইল ফটো)")

### [দুর্গাপূজার আগে প্রতিমা ভাঙচুর ও মন্দিরে হামলার ৩৪ ঘটনা](/bn/বাংলাদেশে-দুর্গাপূজার-আগে-প্রতিমা-ভাঙচুর-ও-মন্দিরে-হামলার-৩৪-ঘটনা/a-79668553)

[দুর্গাপূজার আগে বাংলাদেশের বিভিন্ন স্থানে প্রতিমা ভাঙচুর, মন্দিরে হামলা ও সংঘাত-সহিংসতার ৩৪টি ঘটনা ঘটেছে৷](/bn/বাংলাদেশে-দুর্গাপূজার-আগে-প্রতিমা-ভাঙচুর-ও-মন্দিরে-হামলার-৩৪-ঘটনা/a-79668553)

সমাজ15.10.2026১৫ অক্টোবর ২০২৬

আরো দেখান![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgMjUgMjUiIGNsYXNzPSJtb3JlLWljb24gY200cjkwNyBkb3duIGM0aGdiNm0iPjxwYXRoIGQ9Im0yMi41IDguNzUtMTAgNy41LTEwLTcuNSIgc3Ryb2tlPSIjMDAyRDVBIiBzdHJva2Utd2lkdGg9IjEuODc1IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIC8+PC9zdmc+)

[স্কিপ নেক্সট সেকশন সম্পর্কিত বিষয়![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCAyMCAyMCIgY2xhc3M9InIxbHkwZDh2Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwMkQ1QSIgc3Ryb2tlLXdpZHRoPSIyIj48cGF0aCBkPSJNNCA5TDQgMTYgMTEgMTYiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDcuNSAxMi41KSIgLz48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMy41IDEyLjVMMTcuNSAxMi41TTE3LjUgMTIuNUwxNy41IDUuNU0xNy41IDVMMTIgNSIgLz48L2c+PC9zdmc+)](#post-related-topics)

## সম্পর্কিত বিষয়

[যৌতুক](/bn/যৌতুক/t-41564094)[করোনা ভাইরাস: আতঙ্ক নয়, সচেতনতা](/bn/করোনা-ভাইরাস-আতঙ্ক-নয়-সচেতনতা/t-38764175)[ডিজিটাল নিরাপত্তা আইন](/bn/ডিজিটাল-নিরাপত্তা-আইন/t-42759561)[গৃহকর্মী নির্যাতন](/bn/গৃহকর্মী-নির্যাতন/t-18812342)[বাংলাদেশে সোশ্যাল মিডিয়া](/bn/বাংলাদেশে-সোশ্যাল-মিডিয়া/t-19545342)[বিশ্বকাপ ক্রিকেট ২০১৯](/bn/বিশ্বকাপ-ক্রিকেট-২০১৯/t-49008524) [বাংলাদেশ](/bn/বাংলাদেশ/t-17985259)[ট্রাম্পের জমানায় বাংলাদেশ](/bn/ট্রাম্পের-জমানায়-বাংলাদেশ/t-39435053)[বাংলাদেশের নদী](/bn/বাংলাদেশের-নদী/t-39325423)[বাংলাদেশের চলচ্চিত্র](/bn/বাংলাদেশের-চলচ্চিত্র/t-39235952)[পাসপোর্ট ও পুলিশ ভেরিফিকেশন](/bn/পাসপোর্ট-ও-পুলিশ-ভেরিফিকেশন/t-71705668)[আমাদের কথা আমরা বলি](/bn/আমাদের-কথা-আমরা-বলি/t-71758935)[ঢাকা বিশ্ববিদ্যালয়](/bn/ঢাকা-বিশ্ববিদ্যালয়/t-79629079)

![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdib3g9IjAgMCA2NCA2NCIgc2hhcGUtcmVuZGVyaW5nPSJnZW9tZXRyaWNQcmVjaXNpb24iIHRleHQtcmVuZGVyaW5nPSJnZW9tZXRyaWNQcmVjaXNpb24iIGNsYXNzPSJzbWp0ZGN0IHNvZ2oxa2ogczFtaDZmYTMiPjxjaXJjbGUgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzIgMzIpIiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEwIiByPSIyNyIgY2xhc3M9ImZpcnN0LWNpcmNsZSI+PC9jaXJjbGU+PGNpcmNsZSB0cmFuc2Zvcm09InJvdGF0ZSgtOTAgMzIgMCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IjE3MCwxNzAiIHI9IjI3IiBjbGFzcz0ic2Vjb25kLWNpcmNsZSI+PC9jaXJjbGU+PC9zdmc+)

## Footer

ডিডাব্লিউকে জানুন

- [আমরা কারা](https://corporate.dw.com/en/about-dw/s-30688 "এক্সটার্নাল লিংক — আমরা কারা — ইংরেজিতে")ইংরেজিতে
- [প্রেস](https://corporate.dw.com/en/press/s-3293 "এক্সটার্নাল লিংক — প্রেস — ইংরেজিতে")ইংরেজিতে
- [DW Global Media Forum](https://corporate.dw.com/en/gmf/s-43101535 "এক্সটার্নাল লিংক — DW Global Media Forum — ইংরেজিতে")ইংরেজিতে

ডিডাব্লিউর অন্যান্য সেবা

- [জার্মান ভাষা শেখা](https://learngerman.dw.com/en/overview "এক্সটার্নাল লিংক — জার্মান ভাষা শেখা — ইংরেজিতে")ইংরেজিতে
- [DW Akademie](https://akademie.dw.com/en/home/s-9519 "এক্সটার্নাল লিংক — DW Akademie — ইংরেজিতে")ইংরেজিতে

সার্ভিস

- [রিসিপশন](https://corporate.dw.com/en/regional-reception/s-6809 "এক্সটার্নাল লিংক — রিসিপশন — ইংরেজিতে")ইংরেজিতে
- [নানা প্রশ্নের উত্তর](https://corporate.dw.com/en/faqs-about-dw/s-30600 "এক্সটার্নাল লিংক — নানা প্রশ্নের উত্তর — ইংরেজিতে")ইংরেজিতে
- [যোগাযোগ](https://corporate.dw.com/en/contact/s-30606 "এক্সটার্নাল লিংক — যোগাযোগ — ইংরেজিতে")ইংরেজিতে
- [অ থেকে য় অবধি সবকিছু](/bn/অ-থেকে-য়-অবধি-সবকিছু/index-bn/অ)
- [শিরোনাম](/bn/শিরোনাম/headlines-bn)

বিটুবি

- [বিক্রয় এবং বিপণন](https://corporate.dw.com/en/business-sales/s-3303 "এক্সটার্নাল লিংক — বিক্রয় এবং বিপণন — ইংরেজিতে")ইংরেজিতে
- [ভ্রমণ](https://corporate.dw.com/en/content-for-travelers/s-3972 "এক্সটার্নাল লিংক — ভ্রমণ — ইংরেজিতে")ইংরেজিতে
- [বিজ্ঞাপন](https://corporate.dw.com/en/advertising/s-101376 "এক্সটার্নাল লিংক — বিজ্ঞাপন — ইংরেজিতে")ইংরেজিতে

আমাদের ফলো করুন

- [![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgNDAgNDAiPjxkZWZzPjxwYXRoIGlkPSJzbS1mYWNlYm9va19wYWRkZWQtYSIgZD0iTTIxLjUxMDkzNzUsMjkuMzE1MzEyNSBMMjEuNTEwOTM3NSwyMC41MDQ4NzUgTDI0LjQ2ODM3NSwyMC41MDQ4NzUgTDI0LjkxMTA2MjUsMTcuMDcxMTg3NSBMMjEuNTEwOTM3NSwxNy4wNzExODc1IEwyMS41MTA5Mzc1LDE0Ljg3ODkzNzUgQzIxLjUxMDkzNzUsMTMuODg0NjI1IDIxLjc4NjkzNzUsMTMuMjA3MTg3NSAyMy4yMTI2ODc1LDEzLjIwNzE4NzUgTDI1LjAzMDg3NSwxMy4yMDY0Mzc1IEwyNS4wMzA4NzUsMTAuMTM1Mzc1IEMyNC43MTY0Mzc1LDEwLjA5MzU2MjUgMjMuNjM3LDEwIDIyLjM4MTUsMTAgQzE5Ljc1OTg3NSwxMCAxNy45NjUxMjUsMTEuNjAwMTI1IDE3Ljk2NTEyNSwxNC41Mzg4MTI1IEwxNy45NjUxMjUsMTcuMDcxIEwxNSwxNy4wNzEgTDE1LDIwLjUwNDY4NzUgTDE3Ljk2NDkzNzUsMjAuNTA0Njg3NSBMMTcuOTY0OTM3NSwyOS4zMTUxMjUgTDIxLjUxMDkzNzUsMjkuMzE1MTI1IEwyMS41MTA5Mzc1LDI5LjMxNTMxMjUgWiIgLz48L2RlZnM+PHVzZSB4bGluazpocmVmPSIjc20tZmFjZWJvb2tfcGFkZGVkLWEiIC8+PC9zdmc+)](https://facebook.com/dwbengali "এক্সটার্নাল লিংক — facebook")
- [![](data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Ym94PSIwIDAgNDAgNDAiPjxkZWZzPjxwYXRoIGlkPSJzbS15b3V0dWJlX3BhZGRlZC1hIiBkPSJNMTgsMjIuOTk5OTMyNCBMMTgsMTYuOTk5OTMyNCBDMTkuNjY2MzQxMSwxOC4wMDMwOTM1IDIxLjMyMjQyNjMsMTguOTk4OTMwOSAyMywyMC4wMDg2NjQ1IEMyMS4zMjcxNDcyLDIxLjAwODgyMSAxOS42NzEwNjIxLDIyLjAwMDUyNzEgMTgsMjIuOTk5OTMyNCBNMjkuNjU0MTAwOCwxNS4yNTI1OTEyIEMyOS40MDkyMTg5LDE0LjE4MzQwMDkgMjguNTM5NDAxNywxMy4zOTU5MDQ4IDI3LjQ5MTk3NzksMTMuMjc4ODYxNCBDMjUuMDEyMTA4OCwxMyAyMi41MDIwMTc3LDEyLjk5OTI0NjIgMjAuMDAyODk3NSwxMyBDMTcuNTAzOTg0NCwxMi45OTkyNDYyIDE0Ljk5Mjg1ODIsMTMgMTIuNTEyOTg5MiwxMy4yNzg4NjE0IEMxMS40NjY4MDc0LDEzLjM5NTkwNDggMTAuNTk2NTc2MiwxNC4xODM0MDA5IDEwLjM1MjcyOTMsMTUuMjUyNTkxMiBDMTAuMDA0MTQsMTYuNzczMTE1NyAxMCwxOC40MzM5Njc2IDEwLDIwLjAwMDAyMDUgQzEwLDIxLjU2NjI4MTMgMTAsMjMuMjI3NTQ5IDEwLjM0ODc5NjMsMjQuNzQ4MDczNSBDMTAuNTkyNjQzMiwyNS44MTY0MzIyIDExLjQ2MjY2NzMsMjYuNjA0NzU5OSAxMi41MTAwOTEyLDI2LjcyMjIxOTEgQzE0Ljk4OTk2MDIsMjYuOTk5NzU1NCAxNy40OTk4NDQ0LDI3LjAwMTYyNjQgMTkuOTk4OTY0NSwyNi45OTk3NTU0IEMyMi40OTkxMTk3LDI3LjAwMTYyNjQgMjUuMDA5MDAzOCwyNi45OTk3NTU0IDI3LjQ4NzgzNzksMjYuNzIyMjE5MSBDMjguNTM1MjYxNywyNi42MDQ3NTk5IDI5LjQwNTA3ODksMjUuODE2NDMyMiAyOS42NTAxNjc4LDI0Ljc0ODA3MzUgQzI5Ljk5ODk2NCwyMy4yMjc1NDkgMzAsMjEuNTY2MjgxMyAzMCwyMC4wMDAwMjA1IEMzMCwxOC40MzM5Njc2IDMwLjAwMzEwNDEsMTYuNzczMTE1NyAyOS42NTQxMDA4LDE1LjI1MjU5MTIiIC8+PC9kZWZzPjx1c2UgeGxpbms6aHJlZj0iI3NtLXlvdXR1YmVfcGFkZGVkLWEiIC8+PC9zdmc+)](https://www.youtube.com/dwbengali "এক্সটার্নাল লিংক — youtube")

[![](data:image/svg+xml;base64,PHN2ZyB2aWV3Ym94PSIwIDAgMjAgMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9ImdicG5ncmYiPjxwYXRoIGQ9Ik0xMC4xNDEgMTguNTI1Yy0xLjU1MSAwLTIuOTYtLjM1Ni00LjIyNy0xLjA2OS0xLjI1LS43MjgtMi4yNDgtMS43NDItMi45OTItMy4wNC0uNzI5LTEuMzE0LTEuMDkzLTIuODEtMS4wOTMtNC40ODggMC0xLjY3OS4zNTYtMy4xNzUgMS4wNjktNC40ODlDMy42MSA0LjEyNSA0LjYgMy4xMTIgNS44NjYgMi40YzEuMjY3LS43MTIgMi43MDgtMS4wNjggNC4zMjMtMS4wNjggMS41MDQgMCAyLjkxMy4zOCA0LjIyNyAxLjE0IDEuMzMuNzQ0IDIuMzIgMS44MiAyLjk2OSAzLjIzTDE0LjcgNy4yNjdjLS40NzUtLjk4Mi0xLjEtMS43MTgtMS44NzYtMi4yMDktLjc3Ni0uNTA2LTEuNjU1LS43Ni0yLjYzNi0uNzYtLjk2NiAwLTEuODIxLjIzLTIuNTY1LjY4OS0uNzQ0LjQ0My0xLjMzIDEuMDkyLTEuNzU4IDEuOTQ3LS40MjcuODQtLjY0IDEuODM3LS42NCAyLjk5MyAwIDEuMTI0LjIxMyAyLjExMy42NCAyLjk2OC40NDQuODU1IDEuMDM3IDEuNTEyIDEuNzgyIDEuOTcxLjc2LjQ2IDEuNTkuNjkgMi40OTMuNjkgMS40NTcgMCAyLjU3My0uNDA1IDMuMzQ5LTEuMjEyLjc5MS0uODIzIDEuMjAzLTEuOTcxIDEuMjM1LTMuNDQ0bDEuNDQ5LjgzMkgxMC4xNFY5LjA5Nmg3Ljc5Yy4wNjMuMzk2LjA5NS44MTYuMDk1IDEuMjYgMCAxLjY5My0uMzQ4IDMuMTU4LTEuMDQ1IDQuMzkzLS42OTcgMS4yMzUtMS42NDcgMi4xNzctMi44NSAyLjgyNi0xLjE4Ny42MzMtMi41MTcuOTUtMy45OS45NXoiIC8+PC9zdmc+)Google-এ DW-কে পছন্দের উৎস হিসেবে যোগ করুন](https://www.google.com/preferences/source?q=dw.com "এক্সটার্নাল লিংক — Google-এ DW-কে পছন্দের উৎস হিসেবে যোগ করুন")

© 2026 Deutsche Welle[প্রাইভেসি পলিসি](/bn/european-union-general-data-protection-regulationgdpr-valid-may-25-2018/a-60376930)[লিগ্যাল নোটিশ](/bn/legal-notice/a-60376959)[ডিজিটাল এক্সেসিবিলিটি](/bn/accessibility-statement/a-60376985)[ডেটা প্রাইভেসি সেটিংস](/bn/ডেটা-প্রাইভেসি-সেটিংস/privacy-settings-bn)
